.body {
    padding: 29px;
}

.image { 
    width: 80%;
}

.image2 {
    width: 50%;
}

.text {
    font-family: "Arial";
    font-size: 15px;
}

.main-heading {
    font-family: "Arial";
    font-size: 28px;
    font-weight: bold;
}

a:hover {
    opacity: 0.5;
    font-size: 31px;
}

a:active {
    opacity: 0.9;
}

.Personal_data {
    text-align: center;
    margin-top: 50px;
}

.social-media {
    margin-top: 20px;
}

.about {
    margin-top: 49px;
    text-align: center;
}

.heading {
    font-family: "Arial";
    font-size: 13px;
    color: #6b6a69;
}

.details {
    margin-top: 30px;
    text-align: center;
}

.box {
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

.image3 {
    width: 50%;
}

.paragraph {
    font-family: "Arial";
    font-size: 25px;
    color: grey;
}

.box3 {
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-radius: 8px;
    margin-left: 10px;
}

.paragraph2 {
    font-family: "Arial";
    font-size: 20px;
    color: #38403e;
    
}

.email {
    font-family: "Arial";
    font-size: 26px;
    font-weight: 500;
}

.footer {
    background-color: #909696;
    padding: 10px;
}

.heading-footer {
    font-family: "Arial";
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
